/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.grid_4-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

@media (min-width: 768px) {
  .grid_4-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

.order {
  order: -1;
}
